<body class="overflow-hidden">
    <div class="border-1 border-black-500 h-[75vh] overflow-hidden relative bg-white">

        <div
            class="bg-[#2E86C1] absolute top-[-28%] left-[18%] -translate-x-1/2 w-[900px] h-[900px] rounded-full border-2 border-black-500 shadow-2xl bg-gradient-to-br from-gray-300 via-blue-200 to-[#2E86C1] bg-opacity-100">
        </div>
        <div
            class="bg-[#2E86C1] absolute top-[40%] right-[80%] w-[500px] h-[500px] rounded-full border-2 border-black-500 bg-gradient-to-br from-gray-300 via-blue-200 to-[#2E86C1] bg-opacity-100">
        </div>
        <div
            class="bg-[#2E86C1] absolute top-[-25%] left-[15%] -translate-x-1/2 w-[800px] h-[800px] rounded-full border-2 border-black-500 shadow-2xl overflow-hidden bg-gradient-to-br from-gray-300 via-blue-200 to-[#2E86C1] bg-opacity-100">
            <img src="https://imagenes.eltiempo.com/files/image_1200_535/uploads/2023/06/08/64821418dcfd5.jpeg"
                alt="Familia subiendo al avi칩n" class="absolute top-[23%] left-[16%] h-[620px] object-cover" />
        </div>

        <div
            class="bg-[#2E86C1] absolute top-[50%] right-[55%] w-[350px] h-[350px] flex items-center justify-center rounded-full border-2 border-black-500 shadow-lg bg-gradient-to-l from-[#2E86C1] via-blue-200 to-gray-300 bg-opacity-100">
            <img src="https://res.cloudinary.com/dezff5yvd/image/upload/v1746645460/Traveling_colombia_emyqpp.png"
                alt="Logo Traveling Colombia" class="w-[280px] rounded-full border-2 border-black-500" />
        </div>

        <div
            class="bg-[#2E86C1] absolute top-[5%] right-[22%] w-[500px] p-11 rounded-3xl border-2 border-black-500 shadow-2xl bg-gradient-to-tr from-gray-300 via-blue-200 to-[#2E86C1] bg-opacity-100 z-10">

            <h2 class="text-center text-5xl font-bold mb-4">Registro</h2>
            <p class="text-center text-base text-gray-700 mb-6">Informaci칩n personal:</p>

            <form class="space-y-4">
                <input type="text" placeholder="Nombre" class="input input-bordered w-full" />
                <input type="text" placeholder="Apellido" class="input input-bordered w-full" />
                <input type="text" placeholder="Celular" class="input input-bordered w-full" />
                <input type="email" placeholder="Email" class="input input-bordered w-full" />
                <input type="password" placeholder="Contrase침a" class="input input-bordered w-full" />

                <hr class="my-6" />

                <button type="submit" class="bg-[#3e8ec4] hover:bg-[#245d83] btn w-full rounded-full text-white">
                    Registrar
                </button>
            </form>
        </div>


        <div
            class="bg-[#2E86C1] absolute bottom-[-20%] left-[84%] w-[400px] h-[400px] rounded-full border-2 border-black-500 bg-gradient-to-t from-gray-300 via-blue-200 to-[#2E86C1]  bg-opacity-100">
        </div>

        <div
            class="bg-[#2E86C1] absolute bottom-[-10%] right-[-2%] w-[250px] h-[250px] flex items-center justify-center rounded-full border-2 border-black-500 shadow-lg bg-gradient-to-tl from-gray-300 via-blue-200 to-[#2E86C1] bg-opacity-100">
        </div>

        <div class="absolute bottom-[5%] right-[20%] text-sm text-gray-800">
            <b>TRAVELING COLOMBIA es la agencia de vuelos que te permite viajar por todo el mundo <br>
                <center> y hacer tus reservas
                    de forma r치pida y segura.</center>
            </b>
        </div>
    </div>
</body>
